<div class="container-fluid p-0 m-0 bg-dark">
  <div class="bg-dark text-light text-right font-weight-light text-capitalize p-2">
      Hi, {{username}}
  </div>
  <div class="bg-dark p-2 pb-4">
    <div ngbDropdown class="d-inline-block float-left">
      <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Select Query</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let item of items" (click)="getresult(item)">{{item}}</button>
      </div>
    </div><span class="text-light font-weight-bold">SKIP RESULTS:</span>
    <div class="d-inline-block select mx-1">
      
        <select type="number" [(ngModel)]="selectedoffset">
            <option *ngFor="let offset of offsets" [ngValue]="offset">{{offset.name}}</option>
          </select>
    </div><span class="text-light font-weight-bold">NUMBER OF RESULTS:</span>
    <div class="d-inline-block select mx-1">
        
        <select type="number" [(ngModel)]="selectedcount">
            <option *ngFor="let count of counts" [ngValue]="count">{{count.name}}</option>
          </select>
    </div>
    <div class="d-inline-block float-right">
        
      <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="form-inline">  
          
        <div class="form-group ">
            <input required ngModel name="Query" class="form-control" #Query='ngModel'>
        </div>
            <button class="btn btn-primary" [disabled]="!Query.valid">Add Query</button>
    </form>
    </div>
  </div>


  <h2 class="text-light font-weight-light text-center" *ngIf="resulter">
    Showing Result For
    <span style="text-decoration: underline">{{resulter}}</span>
  </h2>
  <span class="text-danger" (click)="deleteall(resulter)" *ngIf="resulter" style="cursor: pointer">[X] Delete all for this search.</span>



  <table class="table table-dark" style="table-layout: fixed">
    <tr>
      <td class="font-weight-bold" style="width: 25vw">URL</td>
      <td class="font-weight-bold" style="width: 25vw">Title</td>
      <td class="font-weight-bold" style="width: 8vw">Contacted</td>
      <td class="font-weight-bold" style="width: 8vw">Responded</td>
      <td class="font-weight-bold" style="width: 12vw">Date</td>
      <td class="font-weight-bold" style="width: 8vw">Actions</td>
    </tr>
      <app-list  *ngFor="let lit of list" [item]="lit"></app-list>
  </table>
</div>